body {
    font-family: 'Poppins', sans-serif;
    background-color: #70c4eb; 
    text-align: center;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

.card {
    background-color: #e4edf1;
    position: relative; 
    width: 11vw;
    border-radius: 12px;
    border: #11c43e 3px solid;
    box-shadow: 0 0 15px #0707077c;
    padding: 10px 0;
}

.card img {
    width: 7.813vw;
    height: 15vh;
    border-radius: 5px;
}

.favorites {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
}

.favorites.Active {
    color: red;
}

.favorites:hover {
    transform: scale(1.2);
}
